.vscode
.ipynb_checkpoints
.DS_Store
__pycache__
data/cards.json
data/next-week-*.json
data/injure-*.json
data/all-players-data.json
data/*.txt
data/*.pickle
config/NBACards*.json
experiment/
.env
config/config.py.bak
data/*.pdf
data/*.json
config/priority_training_players.txt