{
    "data": {
        "currentSportsUser": {
            "nbaCards": {
                "nodes": [
                    {
                        "id": "a733f3da-c897-453f-b587-521099b0e7bf"
                    },
                    {
                        "id": "e45fa023-42dd-492a-8e3e-13f1dc0861de"
                    },
                    {
                        "id": "d852bc15-2a07-48bb-a5f8-01406f3edef0"
                    },
                    {
                        "id": "c1c5c3e7-8a72-4ffd-bc72-f37ddaadb215"
                    },
                    {
                        "id": "632d168b-92b4-49a3-a580-aff20aa87204"
                    },
                    {
                        "id": "0569cf89-1fee-43f9-ae04-d337beacac7d"
                    },
                    {
                        "id": "e00e3ee0-9039-41f5-b7c5-92f0e0710a96"
                    },
                    {
                        "id": "dc748611-7922-4bb6-8b7e-ebf77e8bc6e4"
                    },
                    {
                        "id": "c6f74526-2ca1-4da9-a1c7-066e21800fa3"
                    },
                    {
                        "id": "6621a6c1-1ea3-4d9e-bff0-10b7775b7910"
                    },
                    {
                        "id": "1cd71aad-22cb-405d-a224-7783780efa55"
                    },
                    {
                        "id": "e79986fe-098a-43d9-81f8-9b98d1d6051e"
                    },
                    {
                        "id": "dd4aa087-0e2f-4ed3-bb88-e88f98c3fe51"
                    },
                    {
                        "id": "b2f09f5e-91e8-4d0f-a32d-ea16ce150a65"
                    },
                    {
                        "id": "a936c841-4039-4a09-82af-3b4e80b691fb"
                    },
                    {
                        "id": "3a4425d7-06f6-4382-86fc-ac29baadf125"
                    },
                    {
                        "id": "f75311d2-60d7-4c57-9d21-2ea7f2077cf5"
                    },
                    {
                        "id": "c9da9129-8807-4402-86fd-0a23ab41fae2"
                    },
                    {
                        "id": "a2423dc1-d1ce-4317-975d-ec9dc3f26cfb"
                    },
                    {
                        "id": "93b7eca8-f70e-4720-bbac-3a9ccff3f970"
                    },
                    {
                        "id": "0206006e-44a9-4829-b2cf-63a905716a57"
                    },
                    {
                        "id": "e84b01d5-e286-4ffa-a09f-580d4de2c8f4"
                    },
                    {
                        "id": "b116571c-f07e-4119-872e-971440409a61"
                    },
                    {
                        "id": "57801d83-39e3-464f-90a3-7f97cf5994f3"
                    },
                    {
                        "id": "53cf879b-30b9-47b4-be0a-c08f0c4b816d"
                    },
                    {
                        "id": "38fd3fb4-726f-4210-a70e-e195ff0a1f29"
                    },
                    {
                        "id": "dbb7d8a8-4a7d-4097-b8b7-77f4faed2350"
                    },
                    {
                        "id": "cfff2c90-e7b8-4dde-9543-770b9982f39e"
                    },
                    {
                        "id": "aa3a4968-2d2d-419b-8e5b-85f3fbaae634"
                    },
                    {
                        "id": "a6cca7ff-4832-4a1e-887d-35216e2c310e"
                    },
                    {
                        "id": "5d079338-2293-47b7-9373-d33dbeac79f7"
                    },
                    {
                        "id": "fbb54ec5-b08f-481e-8764-cea0a041c941"
                    },
                    {
                        "id": "f2287809-c881-4415-b373-afba1b01b445"
                    },
                    {
                        "id": "de6de526-da6b-4d9a-a7f9-01afaef30a00"
                    },
                    {
                        "id": "a4512cf4-821a-4302-851c-fb44b99ed844"
                    },
                    {
                        "id": "39f554e6-eda0-4af9-ad7f-785e820ae4df"
                    },
                    {
                        "id": "cfb7e7d0-6847-4a4e-b58d-6414c54515e2"
                    },
                    {
                        "id": "bcf7d515-1cb5-4ee4-bf73-06029c588177"
                    },
                    {
                        "id": "72b747c1-6f74-4ead-a33f-aa9dc31f60bd"
                    },
                    {
                        "id": "6e991974-848b-4c6f-941e-e4106924d63f"
                    },
                    {
                        "id": "1c23b233-dc28-412e-8ec3-13cb8e26245b"
                    },
                    {
                        "id": "eeda57ed-3ca8-4174-a592-8e5cd4e858d9"
                    },
                    {
                        "id": "be11bc5c-8991-4704-a8f7-7502fa1d7f62"
                    },
                    {
                        "id": "a4f36651-2308-4287-b057-644495809a5a"
                    },
                    {
                        "id": "987c5655-951f-4d90-bb73-a09ff8f351a7"
                    },
                    {
                        "id": "5e2fa69b-1416-4482-8d6e-8c3c2721a63b"
                    },
                    {
                        "id": "ccacb679-5d6a-4539-b6d6-5392e4b39edf"
                    },
                    {
                        "id": "c8f7be3b-884c-4ba6-83c5-3a4ec08cb279"
                    },
                    {
                        "id": "a3c70a48-c949-42e2-8c3c-8424679d6bcf"
                    },
                    {
                        "id": "650a8bb6-56b6-4c8f-80a4-83801c757ee5"
                    },
                    {
                        "id": "370edf98-507e-40ed-9d90-5fc7827715c7"
                    },
                    {
                        "id": "a71145ce-b5d1-42f7-8858-7d60a26258c4"
                    },
                    {
                        "id": "9754710e-0cea-4372-8d41-743781ca3ffb"
                    },
                    {
                        "id": "8c191262-6c65-4701-81c1-925d144e999c"
                    },
                    {
                        "id": "6cf4ed29-a5fc-4f4c-a935-79978daa5a16"
                    },
                    {
                        "id": "56fa5673-9952-40c7-a13e-36c0f3d7eb6a"
                    },
                    {
                        "id": "c830ad34-aa43-4b39-b0aa-b695d616bf5c"
                    },
                    {
                        "id": "bf244cc8-58b5-429a-ac5a-22c1cce35c28"
                    },
                    {
                        "id": "aa34b029-d04c-43de-8b3f-9f5ea58814dd"
                    },
                    {
                        "id": "4cc2790f-6e43-48b1-ac45-d2e75ae1c49b"
                    },
                    {
                        "id": "452f4967-0eca-4844-b930-5f58a74fb3a6"
                    },
                    {
                        "id": "e7237e22-e75f-4a11-8035-42292046aa50"
                    },
                    {
                        "id": "a26700a2-1dd2-4c3b-a406-a40401bb9c0d"
                    },
                    {
                        "id": "9cafc980-2995-45b2-9e9d-462d39f24bbf"
                    },
                    {
                        "id": "8ef50057-8f82-4a4b-a979-9b6f3fcca617"
                    },
                    {
                        "id": "839244ed-a59c-4b46-b13b-b124b49a8038"
                    },
                    {
                        "id": "fde0ec9c-9933-4810-879d-e675a2787530"
                    },
                    {
                        "id": "e9bacf6f-f367-46fb-85bd-b6c642c69f51"
                    },
                    {
                        "id": "d8cfd4e0-afbb-4ded-ac71-5bb20e4b639c"
                    },
                    {
                        "id": "5df4f5e8-7e52-4ee4-96a0-3cffafca2a02"
                    },
                    {
                        "id": "3782e028-6762-43f8-81b1-25aad27058e2"
                    },
                    {
                        "id": "e1bb9b58-429d-40ef-98d9-5a571f8a6a2c"
                    },
                    {
                        "id": "d20e66e8-f815-4fac-9848-df4cd55459c0"
                    },
                    {
                        "id": "8a3d5631-624e-479a-a150-e60f6c042a96"
                    },
                    {
                        "id": "300aa49d-cdb4-46f8-a305-410c37f9e16c"
                    },
                    {
                        "id": "104ce90e-ba5b-40ae-ad17-303ad64d5c40"
                    },
                    {
                        "id": "9fe0aa32-7cfe-4f69-9d90-98849999f2aa"
                    },
                    {
                        "id": "82e177a5-1411-487b-aac8-852f2c7bc15a"
                    },
                    {
                        "id": "1de91b08-09c4-4ba6-871c-5642ca5e22a3"
                    },
                    {
                        "id": "1dbe08ec-8d6a-4e9d-a81e-11bfd47a11b8"
                    },
                    {
                        "id": "015bc10f-a93b-4d1d-a82d-725316c7a09c"
                    },
                    {
                        "id": "e7cded38-5e5d-49bc-94c6-3b57d2628db3"
                    },
                    {
                        "id": "a1e017ad-9b7e-4ba0-88e6-9174b6067c97"
                    },
                    {
                        "id": "4918c5a9-52b8-4714-a754-69b1edc14fb0"
                    },
                    {
                        "id": "3ce987f4-cfbd-43ce-813a-5434941779fc"
                    },
                    {
                        "id": "39d87b2a-66af-4c44-b5d7-6f7150de5fa7"
                    },
                    {
                        "id": "c2cbd1c1-9a61-43ab-aec0-ec443bd880af"
                    },
                    {
                        "id": "b50df216-88db-4c71-b43e-10e331594c86"
                    },
                    {
                        "id": "a26cc160-3828-4ce5-b432-806d15101ef1"
                    },
                    {
                        "id": "3dd8f0be-9eeb-4b39-b87a-09df34893afa"
                    },
                    {
                        "id": "117aff22-f249-4e94-8499-b14b0fa9a89a"
                    },
                    {
                        "id": "c682e838-6829-4be0-9cf8-0eb407b1d6e9"
                    },
                    {
                        "id": "9d96f0ed-cec8-4bd4-80f5-5f2587592038"
                    },
                    {
                        "id": "6b1cf54d-8f45-4d16-9d33-2984ac0a3cac"
                    },
                    {
                        "id": "4cc64398-816b-4adc-a5f5-de34d1c8ebd4"
                    },
                    {
                        "id": "2af1fc09-4294-4196-8f53-85756c67038c"
                    },
                    {
                        "id": "6d86a3bc-36fe-4c87-81ad-99a0ac77ea21"
                    },
                    {
                        "id": "67ed1f20-6c1c-4a8a-aa97-fa570530e26a"
                    },
                    {
                        "id": "640ab8d0-7582-47de-9afe-30249c95aeb4"
                    },
                    {
                        "id": "3a228b27-9745-4f8e-b5f7-892394942f85"
                    },
                    {
                        "id": "1f48ee80-6acc-40b7-9425-516f7fa6a510"
                    },
                    {
                        "id": "da82a46b-3265-4861-958f-5d13da220269"
                    },
                    {
                        "id": "48072d8e-ea46-4d4b-8bec-d613916aa991"
                    },
                    {
                        "id": "9c0a50e0-7d51-441d-a6e3-b5169d155f18"
                    },
                    {
                        "id": "9b5af57e-d292-4ce2-961e-9653eabcc512"
                    },
                    {
                        "id": "2413fc24-8f7b-4242-b143-63ab25fe6f5b"
                    },
                    {
                        "id": "4e74e6aa-8870-4c0d-a864-a354da8e342a"
                    },
                    {
                        "id": "50cfdeff-cde7-47e4-a1bc-03523a7d870b"
                    },
                    {
                        "id": "306c2ecf-5fd3-4fc8-8bce-521d48705c57"
                    },
                    {
                        "id": "acb69fc6-7073-4ad0-a4e0-a8a0fc6a277f"
                    },
                    {
                        "id": "90de8568-9513-4bf7-9b61-11d5bdc3eb3b"
                    },
                    {
                        "id": "777b1af4-4433-4c3b-a5ea-36d7131b10f4"
                    },
                    {
                        "id": "62345e0c-6aca-4432-96fb-8ff6c0d293b8"
                    },
                    {
                        "id": "3693d62a-b65b-4e7b-840b-ab8c7d3d95d6"
                    }
                ]
            }
        }
    }
}